<aside class="sidebar">
  <div class="brand">
    <div class="brand-logo">
      <span class="material-symbols-rounded">inventory_2</span>
    </div>
    <div class="brand-text">
      <strong>GESTISTOCK</strong>
      <span>Gestion de Stock</span>
    </div>
  </div>

  <nav class="menu">
    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.path"
      routerLinkActive="active"
      class="menu-link"
    >
      <span class="icon material-symbols-rounded">{{ item.icon }}</span>
      <span class="label">{{ item.label }}</span>
    </a>

    <ng-container *ngIf="authService.hasRole('Admin')">
      <a
        *ngFor="let item of adminItems"
        [routerLink]="item.path"
        routerLinkActive="active"
        class="menu-link"
      >
        <span class="icon material-symbols-rounded">{{ item.icon }}</span>
        <span class="label">{{ item.label }}</span>
      </a>
    </ng-container>
  </nav>

  <div class="user-box" *ngIf="authService.getUser() as user">
    <div class="avatar">
      {{ user.nom_complet.charAt(0) }}
    </div>
    <div class="user-info">
      <strong>{{ user.nom_complet }}</strong>
      <span>{{ user.role === 'Admin' ? 'Administrateur' : 'Magasinier' }}</span>
    </div>
  </div>

  <button class="logout-btn" (click)="logout()">Deconnexion</button>
</aside>
